/**
* @name Roundmoled
* @author Malasangre#4444
* @description Simple amoled black + rounded corners theme
* @source https://github.com/tiredmala/Roundmoled
* @updateUrl https://tiredmala.github.io/Roundmoled/BetterDiscord/roundmoled.theme.css
* @authorId 699552486360612954
* @version 1.2
*/

/* Base theme file, don't disable */

@import url("https://tiredmala.github.io/Roundmoled/main.css");

/*                                Optional stuff ( delete the /⃰ ⃰/ on top and below the import to enable them)                     */



.backdrop-29yll0, .layer-2KE1M9
{
    backdrop-filter: blur(5px);
}


/* @import "https://tiredmala.github.io/Roundmoled/optional/optional2.css"; */



/* @import "https://tiredmala.github.io/Roundmoled/optional/optional3.css"; */


/*                                Alternative color palettes                                                                      */ 



@import "https://tiredmala.github.io/Roundmoled/palettes/roundturnal.css";

